<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Sql2Xl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<connectionStrings>
    <add name="Sql2Xl.Properties.Settings.PituachConnectionString"
        connectionString="Data Source=IGALHP\SQL2016_DEV;Initial Catalog=Pituach;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
	<appSettings>
		<add key ="DBServers" value ="IGALHP\SQL2016_DEV"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup><userSettings>
        <Sql2Xl.Properties.Settings>
            <setting name="MyServer" serializeAs="String">
                <value />
            </setting>
            <setting name="MyDB" serializeAs="String">
                <value />
            </setting>
            <setting name="MyTimeOut" serializeAs="String">
                <value>0</value>
            </setting>
        </Sql2Xl.Properties.Settings>
    </userSettings>
</configuration>
